.section-tours {
  background-color: #f7f7f7;
  margin-top: -5rem;

  @media (max-width: 767px) {
    margin-top: 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15rem 2rem;

    @media (max-width: 1199px) {
      padding: 10rem 1.5rem;
    }

    @media (max-width: 991px) {
      padding: 8rem 1rem;
    }

    @media (max-width: 767px) {
      padding: 3rem 3rem;
    }
  }
}

.feature-swiper {
  width: 100%;
  background-color: #f7f7f7;

  .swiper2 {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color: #f7f7f7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;

        .tour-card {
          width: 100%;
          perspective: 150rem;
          position: relative;
          height: 52rem;

          .tour-card-side {
            height: 52rem;
            transition: all 0.8s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            backface-visibility: hidden;
            border-radius: 3px;
            overflow: hidden;

            &-front {
              background-color: white;
            }

            &-back {
              transform: rotateY(180deg);

              &-1 {
                background-image: linear-gradient(
                  to right bottom,
                  $color-secondary-light,
                  $color-secondary-dark
                );
              }

              &-2 {
                background-image: linear-gradient(
                  to right bottom,
                  $color-primary-light,
                  $color-primary-dark
                );
              }

              &-3 {
                background-image: linear-gradient(
                  to right bottom,
                  $color-tertiary-light,
                  $color-tertiary-dark
                );
              }
            }
          }

          &:hover {
            .tour-card-side-front {
              transform: rotateY(-180deg);
            }

            .tour-card-side-back {
              transform: rotateY(0);
            }
          }

          &-picture {
            background-size: cover;
            height: 23rem;
            background-blend-mode: screen;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            &-1 {
              background-image: linear-gradient(
                  to right bottom,
                  $color-secondary-light,
                  $color-secondary-dark
                ),
                url(../../assets/images/nat-5.jpg);
            }

            &-2 {
              background-image: linear-gradient(
                  to right bottom,
                  $color-primary-light,
                  $color-primary-dark
                ),
                url(../../assets/images/nat-6.jpg);
            }

            &-3 {
              background-image: linear-gradient(
                  to right bottom,
                  $color-tertiary-light,
                  $color-tertiary-dark
                ),
                url(../../assets/images/nat-7.jpg);
            }
          }

          &-heading {
            font-size: 2.8rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: right;
            color: $color-white;
            position: absolute;
            top: 12rem;
            right: 2rem;
            width: 75%;
          }

          &-heading-span {
            padding: 1rem 1.5rem;
            box-decoration-break: clone;

            &-1 {
              background-image: linear-gradient(
                to right bottom,
                rgba($color-secondary-light, 0.85),
                rgba($color-secondary-dark, 0.85)
              );
            }

            &-2 {
              background-image: linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.85),
                rgba($color-primary-dark, 0.85)
              );
            }

            &-3 {
              background-image: linear-gradient(
                to right bottom,
                rgba($color-tertiary-light, 0.85),
                rgba($color-tertiary-dark, 0.85)
              );
            }
          }

          &-details {
            padding: 3rem;

            ul {
              list-style: none;
              width: 80%;
              margin: 0 auto;

              li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                  border-bottom: 1px solid $color-grey-light-2;
                }
              }
            }
          }

          &-cta {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            text-align: center;
          }

          &-price-box {
            text-align: center;
            color: $color-white;
            margin-bottom: 8rem;
          }

          &-price-only {
            font-size: 1.4rem;
            text-transform: uppercase;
          }

          &-price-value {
            font-size: 6rem;
            font-weight: 100;
          }
        }
      }
    }

    .swiper-pagination-bullet {
      background: #9b9b9b; // Color of pagination bullets
      opacity: 0.7; // Slight transparency
    }

    .swiper-pagination-bullet-active {
      background: #5c5959; // Color of active pagination bullet
      opacity: 1; // Fully opaque
    }
  }
}
